#slides,
#slides2,
#slides3 {
	display: none;
	margin-bottom: 50px;
}

.slidesjs-navigation {
	margin-top: 3px;
}

.slidesjs-previous {
	margin-right: 5px;
	float: left;
}

.slidesjs-next {
	margin-right: 5px;
	float: left;
}

.slidesjs-pagination {
	margin: 0;
	margin-bottom: 6px;
	margin-right: 6px;
	float: right;
	list-style: none;
}

.slidesjs-pagination li {
	float: left;
	margin: 0 1px;
}

.slidesjs-pagination li a {
	display: block;
	width: 13px;
	height: 0;
	padding-top: 13px;
	background-image: url(../img/pagination.png);
	background-position: 0 0;
	float: left;
	overflow: hidden;
}

.slidesjs-pagination li a.active,
.slidesjs-pagination li a:hover.active {
	background-position: 0 -13px;
}

.slidesjs-pagination li a:hover {
	background-position: 0 -26px;
}

