.img-content {
	width: 40%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.img-detail {
	width: 60%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.card-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
}