html {
	position: relative;
	min-height: 100%;
}
.bg-electric-violet {
	background-image: linear-gradient(to right, #4776e6	, #8e54e9);
}
.bg-orange {
	background: #d35400;
}
.bg-register {
	background: #2ecc71;
}
/* Login & Register */

.focus + span::before {
  top: -5px;
}

.focus + span::after {
  width: 100%;
}

.login-btn {
  display: block;
  border-radius: 10px;
  font-size: 15px;
  width: 100%;
  height: 50px;
  border: none;
  background-image: linear-gradient(120deg, #3498db, #8e44ad);
	background-size: 200%;
	font-size: 18px;
  color: #fff;
  outline: none;
  cursor: pointer;
  transition: .5s;
}

.login-btn:hover {
  background-position: right;
}
/* End Login & Register */
#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 70px;
	padding-top: 25px;
	color: white;
	font-size: 1em;
	text-align: center;
}

.textarea {
	resize: none;
}
.card-register {
	width: 450px;
	height: auto;
	margin: 50px auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-login {
	width: 450px;
	height: auto;
	margin: 80px auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bg-pink {
	background-color: #ff3386;
}

.page-profile {
	overflow: hidden;
}

.page-profile .side-bar-profile {
	float: left;
	width: 200px;
	background: #1e5474;
}
.page-profile .side-bar-profile .side-bar-ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.page-profile .side-bar-profile .side-bar-ul .side-bar-li .side-bar-a {
	display: block;
	color: white;
	text-decoration: none;
	padding: 10px 20px;
}
.side-bar-profile .side-bar-ul .side-bar-li .side-bar-a:hover,
.side-bar-profile .side-bar-ul .side-bar-li .side-bar-a.active {
	color: white;
	background-color: #ff9825;
}
.profile-content {
	float: left;
	background: white;
}
.img-size {
	margin-top: 20px;
	width: 300px;
	margin-bottom: 20px;
}